{% extends 'base.html' %}  
{% load static %} 
{% block content %}

<div class="page-header">
  <h1>Delete Artifact?</h1>
  <img src="{% static 'images/treasure-chest.svg' %}" alt="A cat using a computer" />
</div>

<h2>Are you sure you want to delete {{ artifact.name }}?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a href="{% url 'artifact-detail' artifact.id %}" class="btn secondary">Cancel</a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}
